*{
    margin: 0;
    padding: 0;
    background-color: bisque;
    max-width: 800px;
}
.text{
    font-size: 40px;
    color: black;
    font-family: 'Amatic SC',cursive;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
   left: 200px;
   top: 200px;
}